input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.centro {
  margin: 0 auto;
  text-align: center;
  width: 30%;
  padding: 30px;
}

.centroDue {
  margin: 0 auto;
  width: 55%;
  text-align: left;
}
