/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.centro {
  margin: 0 auto;
  width: 30%;
  text-align: center;
  padding: 30px;
}

.centroDue {
  margin: 0 auto;
  width: 55%;
  text-align: left;
}

.btn-square {
  border: none;
  color: whitesmoke;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 20px;
} */

.inghiommato {
  display: flex;
}

.centroTre{
  text-align: center;
}


