<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="container p-3 mt-4 bg-body-secondary rounded main centro">
    <h3 class="text-center">Registrazione Marca</h3>

    <br/>
          <label for="nomeMarca" class="form-label">Nome Marca</label>
          <input type="text" class="form-control" name="nomeMarca" id="nomeMarca" placeholder="Nome Marca"
            onclick="resetMessage()" [(ngModel)]="marca.nomeMarca" />
            <br>
            <button type="submit" class="btn btn-dark">Salva</button>
        </div>
