<form #form="ngForm" (ngSubmit)="onSubmit()">

  <div class="container p-3 bg-body-secondary rounded main centro mt-5 mb-5 rounded-5">
    <h3 class="text-center">Inserimento prodotto</h3>

    <div class="col-4 centroDue">

      <div class="container">
        <div class="row">
          <div class="w-100"></div>
          <div class="col">
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="toggleChecked()">
              <label class="form-check-label" for="exampleCheck1">Abbigliamento</label>
            </div>
          </div>
        </div>
      </div>

      <div class="login">
        <div class="container">
          <div class="row">
            <div class="w-100"></div>
            <div class="col">
              <label for="nomeProdotto" class="form-label pt-3">Nome prodotto</label>
              <input type="text" class="form-control" name="nomeProdotto" id="nomeProdotto"
                placeholder="Inserisci il nome" onclick="resetMex()" [(ngModel)]="prodotto.nomeProdotto">
            </div>
            <div class="col"> <label for="codiceProdotto" class="form-label pt-3">Codice prodotto</label>
              <input type="text" class="form-control" name="codiceProdotto" id="codiceProdotto"
                placeholder="Inserisci il codice" onclick="resetMex()" [(ngModel)]="prodotto.codiceProdotto">
            </div>
          </div>
        </div>
      </div>


      <div class="container">
        <div class="row">
          <div class="w-100"></div>
          <div *ngIf="checked">
            <label for="taglia" class="form-label pt-3">Taglia</label>
            <select name="taglia" id="taglia" class="form-select" [(ngModel)]="prodotto.taglia">
              <option value="" checked>Scegli...</option>
              <option value="xs">XS</option>
              <option value="s">S</option>
              <option value="m">M</option>
              <option value="l">L</option>
              <option value="xl">XL</option>
              <option value="xxl">XXL</option>
            </select>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="w-100"></div>
          <div *ngIf="checked">
            <label for="colore" class="form-label pt-3">Colore</label>
            <input type="text" class="form-control" name="colore" id="colore" placeholder="Inserisci il colore"
              onclick="resetMex()" [(ngModel)]="prodotto.colore">
          </div>
        </div>
      </div>

      <div class="login">
        <div class="container">
          <div class="row">
            <div class="w-100"></div>
            <div class="col">
              <label for="nomeMarca" class="form-label pt-3">Marca</label>
              <select name="nomeMarca" id="nomeMarca" class="form-select" [(ngModel)]="prodotto.nomeMarca">
                <option *ngFor="let m of marche" [value]="m.nomeMarca" checked>
                  {{m.nomeMarca}}
                </option>
              </select>
            </div>


            <div class="col">
              <label for="nomeCategoria" class="form-label pt-3">Categoria</label>
              <select name="nomeCategoria" id="nomeCategoria" class="form-select" [(ngModel)]="prodotto.nomeMarca">
                <option *ngFor="let c of categorie" [value]="c.nomeCategoria" checked>
                  {{c.nomeCategoria}}
                </option>
              </select>
            </div>

          </div>
        </div>
      </div>

      <p>{{message}}</p>
      <br>

    </div>

    <div class="container login">
      <button type="submit" class="btn btn-dark d-inline-flex">Salva</button>
    </div>


  </div>
  <br>
