<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <a class="navbar-brand py-1" href="#">Mode-h</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="cerca">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Cerca" aria-label="Search">
            <button class="btn btn-dark" type="submit">Cerca</button>
        </form>

        <!--<form>
            <button class="btn btn-dark"><span><input type="search">Cerca</span></button>
        </form>-->


    </div>
    <button class="btn btn-dark mx-1" routerLink="/login">Accedi</button>


</nav>
<button class="btn btn-dark mx-1" routerLink="/tabUsers">Tabella utenti</button>
